Memberships
*Users should see link for basic plan on homepage
*Users should see link for pro plan on homepage
*Basic plan link should point to regular devise sign up
*Pro plan link should point to a custom sign up form(for cc etc.)


ActiveRecord 
Parameters
Substitution

Stripe Integration
*Users should have a stripe customer token in the users table
*Javascript should prevent pro form from submitting when user fills it out,
and should send card info to stripe. Stripe will return with a card token.
*Javascript should send user fields and card token to our rails app.Rails app
should validate the user fields. Rails app will note whether plan 1 or 2.
Once validated rails should send info(email, plan id) and card token to Stripe
server and Stripe will create a subscription and send back a customer token.
Rails should save customer token and user info to our database.
