<!doctype html>
<html>
    <head>
        
        
    </head>
    <body>
        <p>You have mail.</p>
        <p>from <%= "#{ @name }, #{ @email}." %></p>
        <p><%= @body %></p>
        
    </body>
</html>